<h1 *ngIf="displayWelcomeBack(); else userLoggedIn"> Welcome to Y.A.R.A.C </h1>
<ng-template #userLoggedIn>
  <h1>{{"Welcome back, " + username}}</h1>
  <p class="text-muted">It's nice seeing you here today!</p>
</ng-template>
<div class="posts-container card category-card no-yarac">
  <div class="card-header">
    <button
      class="btn btn-link"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#posts-body"
      aria-expanded="false"
      aria-controls="posts-body"
    >
      Posts-Feed
    </button>
  </div>
  <div class="card-body collapse" id="posts-body">
    <!-- Example post -->
    <div class="row" id="row-posts">
      <div class="col-md-3 mb-2" id="card-post" *ngFor="let post of posts">
        <div class="card">
          <div class="card-header">{{post.name}}</div>
          <div class="card-body p-2 pt-1">
            <small>Topic</small>
            <p class="card-text">{{post.content}}</p>
          </div>
          <div class="card-footer text-muted" *ngIf="post.commentCount > 0">
            <span class="display-flex">
              <p class="my-0 small">{{post.commentCount}}</p>
              <div class="mx-0"></div>
              <p class="my-0 small">💬</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>