.content-container
    background-color: white
    padding-top: 12px
    padding-bottom: 12px
    border-left: 8px solid var(--yarac-dark)
    border-right: 8px solid var(--yarac-dark)
    border-bottom: 4px solid var(--color-gray-400)

.secondary-content-container
    background-color: var(--color-gray-200)
    padding-top: 12px
    padding-bottom: 12px
    border-left: 8px solid var(--color-gray-700)
    border-right: 8px solid var(--color-gray-700)
    border-bottom: 8px solid var(--color-gray-700)
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    
.secondary-content-container *
    font-size: 0.7rem

.category-card
    border-width: 6px

.fixed-bottom-right
    position: fixed
    right: 50px
    bottom: 50px